@import url('https://fonts.googleapis.com/css2?family=Exo&family=Roboto&display=swap');

/*--------------------------------------------Special paddings/margins/text*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding-top: 1rem;
}

.uppercase {
    text-transform: uppercase;
}

.no-transform {
    text-transform: none;
}

.general-sub{
    font-family: Exo;
    font-weight: 300;
    color: #fafafa;
    text-align: center;
}
/*--------------------------------------------Heading*/

body {
    margin: 0;
    background: #482500;
    font-family: Roboto;
    font-weight: 400;
}

.events {
    background-color: yellow;
    color: #fff;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.sign-up {
    color: #fff;
    background-color: #1C0A01;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #2C1001;
    overflow: hidden;;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 0 15px;
    height: 150px;
    width: 200px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


nav li{
    display: inline-block;
    margin-left: 35px;
    padding-top: 60px;
    text-transform: uppercase;
    color: #fafafa;
    font-weight: 400;
    font-size: 25px;

    position: relative;
}

nav a {
    text-decoration: none;
    font-size: 11px;
}

nav li:hover{
    color: #96938E;
    transition: all ease-in-out 350ms;
}

nav li::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #96938E;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 350ms;
}

nav li:hover::before {
    width: 100%;
}

/*--------------------------------------------Footer*/

footer {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 2px solid #2C1001;
    overflow: hidden;
}

.general-sub a{
color: white
}

.address {
    padding-top: 1rem;
    text-decoration: none;
}

p a:link:hover{
    color: #96938E;
    transition: all ease-in-out .25s;
    text-decoration: none;
}

.social-links li i {
    padding-top: 25px;
    padding-left: 15px;
    font-size: 75px;
    text-decoration: none;
    color: #1C0A01;
}

.social-links li i:hover {
    color: #96938E;
    transition: all ease-in-out .25s;
}

/*--------------------------------------------Home*/

#main-image {
    padding: 1.5rem;
}

.main-title {
    padding-top: 6rem;
    font-size: 40px;
}

.main-text {
    padding-top: 2rem;
    font-size: 20px;
}

/*--------------------------------------------Memberships*/

#mem-image {
    height: 469px;
    width: 625px;
}

.mem-title {
    padding-top: 3rem;
    font-size: 40px;
}

.mem-list {
    display: inline-block;
    padding-left: 140px;
    padding-top: 15px;
    text-transform: uppercase;
    color: #fafafa;
    font-weight: 400;
    font-size: 35px;

    position: relative;
}

.list-item {
    font-size: 15px;
    padding-top: 10px;
}