@import url('https://fonts.googleapis.com/css2?family=Exo&family=Roboto&display=swap');
/*--------------------------------------------Special paddings/margins/text*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding-top: 1rem;
}
.uppercase {
    text-transform: uppercase;
}
.no-transform {
    text-transform: none;
}
.general-sub{
    font-family: Exo, sans-serif;
    font-weight: 300;
    color: #fafafa;
    text-align: center;
}
/*--------------------------------------------Heading*/
body {
    margin: 0;
    background: #482500;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}
.events {
    background-color: #F8DB25;
    color: #482500;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.sign-up {
    color: #fff;
    background-color: #1C0A01;
    margin-bottom: .7rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
}
.logo {
    color: #fff;
    text-decoration: none;
    font-size: 2.5rem;
}
.logo:hover {
    color: #fff;
    text-decoration: none;
    font-size: 2.5rem;
}
header{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #2C1001;
    overflow: hidden;;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
nav {
    float: right;
}
.navbar {
    width: 100%;
}
.bg-dark {
    background: #482500 !important;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}
nav li{
    display: inline-block;
    padding-top: 2rem;
    text-transform: uppercase;
    color: #fafafa;
    font-weight: 400;
    font-size: 1.6rem;
    position: relative;
}
nav a {
    text-decoration: none;
    font-size: .7rem;
}
nav-link:hover {
    color: #96938E;
    transition: all ease-in-out 350ms;
}
.nav-link {
    font-size: 1.5rem;
}
nav li::before {
    content: '';
    display: block;
    height: .25rem;
    background-color: #96938E;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 350ms;
}

nav li:hover::before {
    width: 100%;
}
/*--------------------------------------------Footer*/
footer {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 2px solid #2C1001;
    overflow: hidden;
}
.general-sub a{
color: white
}
.address {
    padding-top: 1rem;
}
p a {
    text-decoration: underline;
}
p a:link:hover{
    color: #96938E;
    transition: all ease-in-out .25s;
}
.social-links li i {
    padding-top: 1.7rem;
    padding-left: 1rem;
    font-size: 4rem;
    color: #1C0A01;
}
.social-links li i:hover {
    color: #96938E;
    transition: all ease-in-out .25s;
}
/*--------------------------------------------Home*/
#main-image {
    padding: 1.5rem;
    width: 100%;
    padding-top: 10rem;
}
.main-title {
    padding-top: 6rem;
    font-size: 1.5rem;
}
.main-text {
    padding-top: 2rem;
    font-size: 1rem;
}
/*--------------------------------------------Memberships*/
#mem-image {
    padding: 1.5rem;
    width: 100%;
}
.mem-title {
    padding-top: 3rem;
    font-size: 3rem;
}
.mem-list {
    padding-top: 3rem;
    font-size: 1.5rem;
    color: #fafafa;
    list-style: none;
}
.list-item {
    font-size: 1rem;
    padding-top: .7rem;
}

.whole {
    padding-left: 0%;
}

.whole li {
    color: #fff;
}

#me-image {
    padding: 1.5rem;
    width: 100%;
}

 @media only screen and (min-width: 992px)  {
    .mem-image {
        padding-top: 17rem !important;
    }
 }

/*--------------------------------------------Facilities*/
#fac-image {
    padding: 1.5rem;
    width: 100%;
}

.fac-list {
    font-size: 1rem;
    padding-top: 3rem;
    list-style: square;
    color: #fafafa;
}

.fac-title {
    padding-top: 3rem;
    font-size: 3rem;
}
/*--------------------------------------------Contacts*/
.cont-form {
    background-color: #2C1001;
    border-radius: 5%;
    padding: 2.25rem;
    width: 100%;
    color: #fafafa;
}

label {
    display: inline-block;
    margin-bottom: .75rem;
}

.btn {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background-color: #F8DB25;
    color: #482500;
}

.btn:hover {
    background-color: #96938E;
    border: transparent;
}

.form-check {
    display: inline;;
    padding-left: 0;
}